body{
height: 100vh;
display: flex;
flex-direction: column;
min-height: 100vh;
}
.brand{
    font-size: 2rem;
    color:#3bd77a;
    text-decoration: none;
    font-weight: 500;
    margin-right: 2rem;
}
.brand:hover{
    color:#22fb01
}
.main-title{
    font-size: 3rem;
}
.main-title span{
    color: #3bd77a;
}
.main-info{
    float:right
}
.circle{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    border-color: black;
    float:right;
    shape-outside: circle();
}
.img-dashboard{
    width: 20rem;
}
.footer{
/*     
    bottom: 0;position: absolute; */
    margin-top: auto;
    width: 100vw;
    height: 3rem;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(56, 175, 23));
}