<div id="sidenav" class="sidenav">
    <a href="/" id="intro-navbar">IntroDuction</a>
    <a href="/about" id="we-are-navbar">Our Story</a>
    <a href="#events" id="events-navbar">Functionss</a>
    <a href="#reach-us" id="reach-us-navbar">Reach Us</a>
    <div id="switch">
        <div id="toggle-switch"></div>
        <div class="toggle-text" id="toggle-text-ON">Slide:ON</div>
        <div class="toggle-text" id="toggle-text-OFF">Slide:OFF</div>
    </div>
</div>