<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container-fluid ms-2 me-2">
        <img src="./img/img-logo.png" alt="" style="width: 2rem;">
        <a class=" brand" href="javascript:void(0)">&nbsp;Petbook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">More</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <!-- <input class="form-control me-2" type="text" placeholder="Search"> -->
                <button class="btn btn-success" type="button">Login</button>
            </form>
        </div>
    </div>
</nav>