<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>header}}
    <!-- Reach US -->
    <div class="conatiner bg-img" id="reach-us">
        <h1 id="reach-us-title">Reach Us</h1>
        <p>lorem Ipsum, Lorem Ipsum, Lorem Ipsum</p>
        <div class="container-fluid">
            <div class="row comment-form">
                <div class="col-sm-6">
                    <div id="comment-section">
                        <i class="fa fa-comment-o" data-toggle="modal" data-target="#modalThoughts"
                            style="font-size:100px"></i>
                    </div>
                </div>
                <div class="col-sm-6" id="form-control">
                    <form class="form-container" action="" method="post">
                        <div class="form-group">
                            <!--<h2 id="contact-us">Contact Us</h2>-->
                            <label for="name"><strong>Name</strong></label><br />
                            <input name="name" class="form-control" type="text" placeholder="Your Name Here..."><br />
                            <label for="email"><strong>Email</strong></label><br />
                            <input name="email" class="form-control" type="text" placeholder="Your Email Here..."><br />
                            <label for="comments"><strong>Say Something</strong></label><br />
                            <textarea name="comments" class="form-control" rows="4"
                                placeholder="Place your comments here..."></textarea><br />
                            <button type="submit" class="btn btn-success" name="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Thoughts-->
            <div class="modal modal-wide fade " id="modalThoughts">
                <div class="modal-dialog">
                    <div class="modal-content">
    
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Our Wishers</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
    
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="comment">
                                <p><span class="comment-text"><i>"Make it as simple as possible, but not simpler.
                                            dasdasda asdad asdasda"</i></span><br />
                                    <span class="comment-name">- Albert Einstein</span>
                                </p>
                            </div>
                            <div class="comment">
                                <p><span class="comment-text"><i>"Lorem ipsum fortedium gala zaga fityou dondw gyronpo
                                            lopium"</i></span><br />
                                    <span class="comment-name">- Internet</span>
                                </p>
                            </div>
                        </div>
    
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>