<!DOCTYPE html>
<html>

<head>
    {{>headerLinks}}
</head>

<body>

{{>header}}
    <div class="text-center mt-5">
        <div class="main-title">
            <span>E</span>xplore the
            <span>W</span>orld of
            <span>P</span>ets with
            <span>U</span>s
        </div>
        <div class="container-fluid mt-5">
            <div class="row offset-2">
                <div class="col-10 main-info">
                    <div class="circle">
                        <img src="img/img-dashboard.png" class="img-dashboard" alt="">
                    </div>
                    <div><em>lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem I psum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                        </em></div>
                    <div><em>lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                            lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                        </em></div>
    
    
                </div>
            </div>
            <div class="row ">
                <div class="col footer">
                    <p>***** Disclaimer: Pets with us are subjected to happiness. ******</p>
                </div>
            </div>
        </div>
    </div>
 

{{>footer}}
</body>

</html>